
html {
}
h1 {
   color: blue;

}
p {
   color: black;
}
code {
      background-color: rgb(220,220,220);
}
.hljs-comment{
      color: rgb(100,50,50);
}
.hljs-keyword{
      color: red;
}
.lang-json{
      text-align: justify;
}
.hljs-number {
      color: blue;
}
.hljs-string {
      color: green;
}
.hljs-attr {
      color: rgb(58,28,28);
}
